<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ding.favorites.dao.CollectionMapperExt" >
  <resultMap id="BaseResultMap" type="com.ding.favorites.domain.Collection" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="favoritesId" property="favoritesId" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="logoUrl" property="logoUrl" jdbcType="VARCHAR" />
    <result column="charset" property="charset" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="isDelet" property="isDelet" jdbcType="CHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lastModifyTime" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="newFavorites" property="newFavorites" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, userId, favoritesId, url, title, description, logoUrl, charset, type, remark, 
    isDelet, createTime, lastModifyTime, category, newFavorites
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from collection
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from collection
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.ding.favorites.domain.Collection" >
    insert into collection (id, userId, favoritesId, 
      url, title, description, 
      logoUrl, charset, type, 
      remark, isDelet, createTime, 
      lastModifyTime, category, newFavorites
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{favoritesId,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{logoUrl,jdbcType=VARCHAR}, #{charset,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{isDelet,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastModifyTime,jdbcType=TIMESTAMP}, #{category,jdbcType=VARCHAR}, #{newFavorites,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ding.favorites.domain.Collection" >
    insert into collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="favoritesId != null" >
        favoritesId,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="logoUrl != null" >
        logoUrl,
      </if>
      <if test="charset != null" >
        charset,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isDelet != null" >
        isDelet,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="lastModifyTime != null" >
        lastModifyTime,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="newFavorites != null" >
        newFavorites,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="favoritesId != null" >
        #{favoritesId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="charset != null" >
        #{charset,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelet != null" >
        #{isDelet,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="newFavorites != null" >
        #{newFavorites,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>




  <update id="updateByPrimaryKeySelective" parameterType="com.ding.favorites.domain.Collection" >
    update collection
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="favoritesId != null" >
        favoritesId = #{favoritesId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
        logoUrl = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="charset != null" >
        charset = #{charset,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelet != null" >
        isDelet = #{isDelet,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        lastModifyTime = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="newFavorites != null" >
        newFavorites = #{newFavorites,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ding.favorites.domain.Collection" >
    update collection
    set userId = #{userId,jdbcType=VARCHAR},
      favoritesId = #{favoritesId,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      logoUrl = #{logoUrl,jdbcType=VARCHAR},
      charset = #{charset,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      isDelet = #{isDelet,jdbcType=CHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      lastModifyTime = #{lastModifyTime,jdbcType=TIMESTAMP},
      category = #{category,jdbcType=VARCHAR},
      newFavorites = #{newFavorites,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>